.sticky {
	display: block;
}

.content-wrapper {
	margin-top: 80px;
	margin-bottom: 120px;

	.single-post & {
		margin-top: 120px;
	}
}
.site-main {
	padding-left: 15px;
	padding-right: 60px;
	width: calc( 100% - 300px );

	&.no-sidebar,
	.no-sidebar & {
		padding-left: 15px !important;
		padding-right: 15px !important;
		width: 100%;
	}

	&.col-md-12 {
		padding-right: 15px;
	}
}

.single-post:not(.blog-single-layout2):not(.blog-single-layout3) .no-sidebar,
.single-post:not(.blog-single-layout2):not(.blog-single-layout3).no-sidebar  {
	.entry-header,
	.entry-content,
	.entry-footer,
	.botiga-share-box,
	.post-navigation,
	.comments-area,
	.single-post-author {
		max-width: 730px;
		margin-left: auto;
		margin-right: auto;
	}
	.post-thumbnail,
	.botiga-related-posts {
		max-width: 920px;
		margin-left: auto;
		margin-right: auto;
	}
}

.single-post {
	&.blog-single-layout3 {
		.content-wrapper {
			max-width: 95vw;
		}
	}
}

.post {
	margin: 0 0 40px;
}

.updated:not(.published) {
	display: none;
}

.tags-links {
	a {
		color: $color__text-main;
		border: 1px solid $color__text-main;
		padding: 8px 16px;
		line-height: 1;
		margin-right: 6px;

		&:first-of-type {
			margin-left: 10px;
		}
	}
}
.edit-link {
	margin-left: 10px;
}
.single {
	.entry-header {
		.entry-title {
			margin: 0;
		}
	}
	.entry-meta-above {
		margin-bottom: 8px;
	}
	.entry-meta-below {
		margin-top: 8px;
	}
}

.entry-meta {
	@include font-size(14);
	color: $color__grey;

	a {
		color: $color__grey;
	}

	& > * {
		margin-right: 10px;

		&:last-of-type {
			margin-right: 0;
		}
	}

	.avatar {
		position: relative;
		top: 3px;
		border-radius: 50%;
		margin-right: 5px;
	}	
}

.top-bar .col,
.entry-meta {
	&.delimiter-dot,
	&.delimiter-vertical,
	&.delimiter-horizontal {
		& > * {
			margin-right: 0;

			&:after {
				padding: 0 10px;
			}			

			&:last-child {
				&:after {
					display: none;
				}
			}
		}
	}

	&.delimiter-dot {

		& > * {
			&:after {
				content: '\00B7';
			}
		}
	}
	&.delimiter-vertical {

		& > * {
			&:after {
				content: '\007C';
			}
		}
	}	
	&.delimiter-horizontal {

		& > * {
			&:after {
				content: '\0023AF';
			}
		}
	}	
}	
.top-bar .col {
	&.delimiter-dot,
	&.delimiter-vertical,
	&.delimiter-horizontal {
		& > * {

			&:after {
				padding: 0 15px;
			}	
		}
	}
}

.single-post-author {
	text-align: center;
	.author-avatar {
		min-width: 60px;
		padding-top: 5px;
	}
	&.single-post-author-left,
	&.single-post-author-right {
		display: flex;
		.author-content {
			.author-name {
				margin-top: 0;
				& + .author-link {
					position: relative;
					top: -10px;
				}
			}
		}
	}
	&.single-post-author-left {
		text-align: left;
		.author-avatar {
			margin-right: 25px;
		}
	}
	&.single-post-author-right {
		flex-direction: row-reverse;
		text-align: right;
		.author-avatar {
			margin-left: 25px;
		}
		
	}
}
.botiga-share-box,
.botiga-related-posts,
.post-navigation,
.single-post-author,
.comments-area {
	border-top: 1px solid rgba($color__primary, 0.1);
	padding-top: 50px;
	margin-top: 50px;
}
.botiga-related-posts {
	h3 {
		margin-top: 8px;
	}
}
.post-thumbnail {
	display: block;
	margin-bottom: 38px;

	.posts-archive & {
		margin-bottom: 16px;
		transform: translate3d(0,0,0);
		transition: opacity 0.3s;

		&:hover {
			opacity: 0.7;
		}
	}
}

.botiga-share-box {
	margin-bottom: 50px;
    > .row {
        justify-content: space-between;
        align-items: center;
    }
    .botiga-share-box-items-wrapper {
        display: flex;
        .botiga-share-box-item {
			height: 28px;
            & + .botiga-share-box-item {
                margin-left: 20px;
            }
			svg {
				width: 28px;
				height: 28px;
				&[onclick] {
					cursor: pointer;
				}
			}
			> a {
				position: relative;
				display: inline-block;
				width: 28px;
				height: 28px;
				&:before {
					content: attr(data-botiga-tooltip);
					position: absolute;
					top: -40px;
					left: 50%;
					font-size: 0.8em;
					color: rgba(255, 255, 255, 0.9);
					background: $color__primary;
					padding: 3px 17px;
					border-radius: 4px;
					white-space: nowrap;
					opacity: 0;
					visibility: hidden;
					transform: translate3d(-50%, 0, 0);
					transition: ease opacity 300ms;
				}
				&:after {
					content: '';
					position: absolute;
					left: 50%;
					top: -13px;
					width: 0;
					height: 0;
					border-right: 5px solid transparent;
					border-left: 5px solid transparent;
					border-top: 5px solid $color__primary;
					opacity: 0;
					visibility: hidden;
					transform: translate3d(-50%, 0, 0);
					transition: ease opacity 300ms;
				}

				&:hover,
				&.copied {
					&:before,
					&:after {
						opacity: 1;
						visibility: visible;
					}
				}
			}
        }
    }
}

.botiga-related-posts {
	.related-post {
		h3 {
			@include font-size(16);

			a {
				color: $color__primary;
			}
		}
		.post-thumbnail {
			margin-bottom: 20px;
		}
		.posted-on {
			a {
				@include font-size(14);
				color: $color__grey;
			}
		}
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-header {
	padding-top: 80px;
	text-align: center;

	h1 {
		margin: 0;
	}
}
.woocommerce-page-header {
	padding-top: 80px;

	h1 {
		margin: 0;
	}

	> * {
		text-align: center
	}

	.page-description {
		margin-top: 20px;
		max-width: 560px;
		margin-left: auto;
		margin-right: auto;

		p:last-of-type {
			margin-bottom: 0;
		}
	}

	.woocommerce-breadcrumb {
		text-align: left;
	}
}

.entry-title {
	@include font-size(32);
	margin: 0 0 12px;
}

.page-title {
	@include font-size(64);
	margin: 0 0 12px;
}

.entry-header {
	margin-bottom: 40px;
	text-align: center;
}

.posts-archive {
	.entry-header {
		margin-bottom: 16px;

		&:last-child {
			margin-bottom: 0;
		}
	}
	.entry-title {
		@include font-size(18);
		font-weight: 400;
		margin: 0;

		a {
			color: $color__primary;
		}
	}

	.entry-meta {
		margin: 8px 0;
	}
	.post-align-left {
		text-align: left;

		.entry-header {
			text-align: left;
		}
	}
	.post-align-center {
		text-align: center;

		.entry-header {
			text-align: center;
		}
	}
	.post-align-right {
		text-align: right;
		
		.entry-header {
			text-align: right;
		}		
	}	

	.list-image {
		width: 30%;
	}
	.list-content {
		width: 70%;
		max-width: 70%;
	}

	&.layout4,
	&.layout6 {
		article {
			display: flex;
		}
		.post-thumbnail {
			margin: 0 16px 0 0;
		}
	}

	.post-vertical-align-middle {
		align-items: center;
	}

	.post-vertical-align-bottom {
		align-items: flex-end;
	}	

	&.layout4 {
		.image-right {
			order: 1;

			.post-thumbnail {
				margin: 0 0 0 16px;
			}			
		}
	}

	&.layout6 {
		article {
			&:nth-of-type(even) {
				.list-image {
					order: 1;

					.post-thumbnail {
						margin: 0 0 0 16px;
					}					
				}	

			}
		}
	}
}

.ws-svg-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	line-height: 1;

	.site-header & {
		width: 24px;
		height: 24px;		
	}
}

.entry-footer {
	clear: both;
	margin-top: 40px;
}

@media ( min-width:991px ) {
	.site-main.sidebar-left {
		padding-right: 15px;
		padding-left: 60px;
		order: 1;
	}
}

@media (min-width: 1024px) {
	body:not(.botiga-page-builder-mode) .no-sidebar .entry-content .alignfull {
		margin-left: calc(50% - 50vw);
		max-width: 100vw;
		width: 100vw;	
	}
	body:not(.botiga-page-builder-mode) .no-sidebar .entry-content .alignwide {
		margin: 20px calc(25% - 15vw);
		width: auto;
	}	
}

.wp-block-cover-image .wp-block-subhead:not(.has-text-color), .wp-block-cover-image h1:not(.has-text-color), .wp-block-cover-image h2:not(.has-text-color), .wp-block-cover-image h3:not(.has-text-color), .wp-block-cover-image h4:not(.has-text-color), .wp-block-cover-image h5:not(.has-text-color), .wp-block-cover-image h6:not(.has-text-color), .wp-block-cover-image p:not(.has-text-color), .wp-block-cover .wp-block-subhead:not(.has-text-color), .wp-block-cover h1:not(.has-text-color), .wp-block-cover h2:not(.has-text-color), .wp-block-cover h3:not(.has-text-color), .wp-block-cover h4:not(.has-text-color), .wp-block-cover h5:not(.has-text-color), .wp-block-cover h6:not(.has-text-color), .wp-block-cover p:not(.has-text-color) {
	color: inherit !important;
}
.wp-block-quote,
.wp-block-gallery,
.wp-block-cover {
	margin-bottom: 25px;
}

.search-no-results {
	.woocommerce-products-header__title.page-title {
		@include font-size(32);
	}
}

.error404 {
	.site-main {
		padding-right: 15px;
		width:100%;
	}
	.page-title {
		max-width: 675px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.page-header {
		padding-top: 40px;
	}
	.page-content {
		margin-top: 20px;
		p {
			text-align: center;
		}
	}
	.search404 {
		max-width: 600px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;

		.search-field {
			width: calc(100% - 76px);
			min-height: 56px;
		}
		.search-submit {
			min-height: 56px;
			margin-left: -5px;
			vertical-align: top;
		}
	}
	.products404 {
		padding-top: 120px;
	}	
}

.woocommerce-lost-password {
	p {
		margin-left: auto;
		margin-right: auto;
		max-width: 500px;
	}
	.woocommerce-ResetPassword {
		text-align: center;
	}
	label {
		display: block;
		margin-bottom: 10px;
	}
}