/**
 * Search Page
 */
.search {
    .header-image:not(:empty) {
		margin-bottom: 80px;
	}
    .page-header {
        padding: 0;
        margin-bottom: 80px;
    }
    .not-found {
        .page-title {
            margin-bottom: 30px;
        }
    }

    &.search-results {
        article.page,
        article.product {
            margin-bottom: 40px;
        }
    }
}