.wp-block-spacer {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;

    & + p,
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
        margin-top: 0 !important;
    }
}