node_modules
/test-results/
/playwright-report/
/test-results/
/playwright/.cache/
/vendor/
**.code-workspace
**.vscode
.DS_Store
.idea
assets/css
assets/js/admin
assets/js/admin-functions.js
assets/js/admin-functions.min.js
assets/js/botiga-accordion.js
assets/js/botiga-accordion.min.js
assets/js/botiga-ajax-add-to-cart.js
assets/js/botiga-ajax-add-to-cart.min.js
assets/js/botiga-ajax-search.js
assets/js/botiga-ajax-search.min.js
assets/js/botiga-carousel.js
assets/js/botiga-carousel.min.js
assets/js/botiga-gallery.js
assets/js/botiga-gallery.min.js
assets/js/botiga-popup.js
assets/js/botiga-popup.min.js
assets/js/botiga-quick-view.js
assets/js/botiga-quick-view.min.js
assets/js/botiga-sidebar.js
assets/js/botiga-sidebar.min.js
assets/js/botiga-swiper.js
assets/js/botiga-swiper.min.js
assets/js/custom.js
assets/js/custom.min.js
assets/js/customizer-scripts.js
assets/js/customizer-scripts.min.js
assets/js/customizer.js
assets/js/customizer.min.js
assets/js/metabox.js
assets/js/metabox.min.js