// Margin
.bt-mt-0 {
    margin-top: 0 !important;
}

.bt-mr-0 {
    margin-right: 0 !important;
}

.bt-mb-0 {
    margin-bottom: 0 !important;
}

.bt-ml-0 {
    margin-left: 0 !important;
}

.bt-m-0 {
    margin: 0 !important;
}

// Padding
.bt-pt-0 {
    padding-top: 0 !important;
}

.bt-pr-0 {
    padding-right: 0 !important;
}

.bt-pb-0 {
    padding-bottom: 0 !important;
}

.bt-pl-0 {
    padding-left: 0 !important;
}

.bt-p-0 {
    padding: 0 !important;
}