a.button,
.button,
.checkout-button,
.wp-block-button__link,
.wc-block-components-button,
ul.products li.product .button,
.wpforms-block:not(.wpforms-render-modern) .wpforms-submit,
.widget_product_search button,
.search-submit,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid var( --bt-color-button-border, #212121 );
	box-shadow: none;
	background: var( --bt-color-button-bg, #212121 );
	color: var( --bt-color-button, #FFF );
	padding-top: var( --bt-padding-button-top-bottom, 13px );
	padding-bottom: var( --bt-padding-button-top-bottom, 13px );
	padding-left: var( --bt-padding-button-left-right, 24px );
	padding-right: var( --bt-padding-button-left-right, 24px );
	cursor: pointer;
	display: inline-block;
	transition: all 0.3s;
	height: auto;
	border-radius: var( --bt-border-radius-button, 0 );
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: var( --bt-letter-spacing-button, 0px );
	font-size: var( --bt-font-size-button, 14px );

	svg {
		fill: var( --bt-color-button, #FFF );
	}

	&:not(.has-text-color),
	&.checkout-button:not(.has-text-color),
	&:not(.wc-forward):not(.has-text-color),
	&.checkout:not(.has-text-color),
	&.wc-backward {
		color: var( --bt-color-button, #FFF );

		&:hover {
			color: var( --bt-color-button-hover, #FFF );
		}
	}

	&.is-style-outline {
		border-color: var( --bt-color-button-border, #212121 );

		&:not(.has-text-color) {
			color: var( --bt-color-button, #FFF );
			border: 2px solid var( --bt-color-button-border, #212121 );
		}
	}

	.is-style-outline & {
		&:not(.has-text-color):hover {
			color: var( --bt-color-button-hover, #FFF );
		}
		&:not(.has-background):hover {
			background-color: var( --bt-color-button-bg-hover, #757575 );
		}
	}

	&:not(.has-background) {
		background-color: var( --bt-color-button-bg, #212121 );

		&:hover {
			background-color: var( --bt-color-button-bg-hover, #757575 );
		}
	}

	&:hover {
		border-color: var( --bt-color-button-border-hover, #757575 );

		svg {
			fill: var( --bt-color-button-hover, #FFF );
		}

		&:not(.has-background) {
			background-color: var( --bt-color-button-bg-hover, #757575 );
		}
	}

	&:active,
	&:focus {
		color: var( --bt-color-button-hover, #FFF );
	}
}

.is-style-outline {
	.wp-block-button__link {
		padding-top: var( --bt-padding-button-top-bottom, 13px );
		padding-bottom: var( --bt-padding-button-top-bottom, 13px );
		padding-left: var( --bt-padding-button-left-right, 24px );
		padding-right: var( --bt-padding-button-left-right, 24px );
	}
}

.wp-block-button {
	margin-bottom: 20px;

	.wp-block-button__link {
		&:not(.has-text-color) {
			color: var( --bt-color-button, #FFF );

			&:hover {
				color: var( --bt-color-button-hover, #FFF );
			}
		}
		&:not(.has-background) {
			background-color: var( --bt-color-button-bg, #212121 );

			&:hover {
				background-color: var( --bt-color-button-bg-hover, #757575 );
			}
		}
	}

	&.is-style-outline {
		.wp-block-button__link {
			border-color: var( --bt-color-button-border, #212121 );

			&:not(.has-text-color) {
				color: var( --bt-color-button-bg, #FFF );
			}

			&:not(.has-background) {
				background-color: transparent;
				background-image: none;
			}

			&:hover {
				border-color: var( --bt-color-button-border-hover, #757575 );
			}
		}

		&:hover {
			.wp-block-button__link {
				border-color: var( --bt-color-button-border-hover, #757575 );

				&:not(.has-background) {
					color: var( --bt-color-button-hover, #FFF );
					background-color: var( --bt-color-button-bg-hover, #212121 );
				}
			}
		}
	}

	&.is-style-squared {
		a {
			border-radius: 0;
		}
	}

	&[style*="text-transform"] {
		.wp-block-button__link {
			text-transform: inherit;
		}
	}

	&[style*="letter-spacing"] {
		.wp-block-button__link {
			letter-spacing: inherit;
		}
	}

	&[style*="font-weight"] {
		.wp-block-button__link {
			font-weight: inherit;
		}
	}

	&[style*="font-style"] {
		.wp-block-button__link {
			font-style: inherit;
		}
	}
}

.wp-block-search {
	.wp-block-search__button {
		border-color: var( --bt-color-button-border, #212121 );

		&:not(.has-text-color) {
			color: var( --bt-color-button, #FFF );

			&:hover {
				color: var( --bt-color-button-hover, #FFF );
			}
		}

		&:not(.has-background) {
			background-color: var( --bt-color-button-bg, #212121 );

			&:hover {
				background-color: var( --bt-color-button-bg-hover, #757575 );
			}
		}

		&:hover {
			border-color: var( --bt-color-button-border-hover, #757575 );
		}
	}
}

.woocommerce-message {
	.button {
		&.wc-forward:not(.has-text-color) {
			color: var( --bt-color-button, #FFF );

			&:hover {
				color: var( --bt-color-button-hover, #FFF );
			}
		}
	}
}

.comments-area {
	.comment-reply-link {
		&:not(.has-text-color) {
			color: var( --bt-color-button, #FFF );

			&:hover {
				color: var( --bt-color-button-hover, #FFF );
			}
		}

		&:not(.has-background) {
			background-color: var( --bt-color-button-bg, #212121 );

			&:hover {
				background-color: var( --bt-color-button-bg-hover, #757575 );
			}
		}
	}
}

.botiga-sc-product-quantity {
	color: var( --bt-color-button, #FFF );
	background-color: var( --bt-color-button-bg, #212121 );
}

#coupon_code {
	& + .button {
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
	}
}

.checkout_coupon.woocommerce-form-coupon {
	.button[name="apply_coupon"] {
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
	}
}

.button {
	&.loading:after {
		font-family: WooCommerce;
		content: "";
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
		margin-left: 0.5em;
		display: inline-block;
		width: auto;
		height: auto;
	}
	&.loading {
		opacity: 0.5;
		pointer-events: none;
	}
	&.added:after {
		font-family: WooCommerce;
		content: "";
		margin-left: 0.5em;
		display: inline-block;
		width: auto;
		height: auto;
	}
}