/**
 * Accordion
 */
 
.botiga-accordion__item {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    > a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 0;
        &:after {
            content: '';
            width: 7px;
            height: 7px;
            border: 2px solid rgba( $color__primary, 0.5 );
            border-bottom: 0;
            border-left: 0;
            margin-top: -3px;
            margin-right: 3px;
            transform: rotate(135deg);
            transition: ease transform 300ms, ease border-color 300ms;
        }

        &.active {
            &:after {
                border-color: $color__primary;
                transform: rotate(-45deg);
            }
        }

        &:hover {
            &:after {
                border-color: $color__primary;
            }
        }
    }

    & + .botiga-accordion__item {
        border-top: 0;
    }
}

.botiga-accordion__body-content {
    padding: 15px 0;
    > h2 {
        display: none;
    }
    #comments {
        margin-top: 0;
    }
}