/*
* Import variables
*/
@import "abstracts/abstracts";

// Helpers
@import "admin/dashboard/helpers";

// Utlities
@import "utilities/display";
@import "utilities/animations";
@import "utilities/alignments";
@import "utilities/misc";
@import "utilities/spacing";

// Grid
@import "layouts/grid";

/*
* General
*/
@media (min-width: 1600px) {
	.wp-block {
		max-width: 1110px;
	}
}

.wp-block[data-align="full"] {
	.wp-block {
		max-width: none;
	}
}

.botiga-block-no-preview {
    padding: 25px;
    border: 1px solid #CCC;
    border-left-color: #6c6c6c;
    border-left-width: 3px;
	p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

div.editor-styles-wrapper {
	padding: 8px 0px;
	color: $color__text-main;
	font-family: $font__main;
	font-size: var(--bt-font-size-body, 16px);
	line-height: $font__line-height-body;

	:where(.wp-block) {
		margin-top: 0;
		margin-bottom: 0;
	}
	:where(.wp-block-columns) {
		margin-bottom: 1.75rem;
		margin-block-end: 1.75rem !important;
	}
	:where(.wp-block-group.wp-block-group-is-layout-flex) .wp-block-columns {
		margin: 0 !important;
		margin-block: 0 !important;
	}

	.is-layout-flow {
		> * {
			margin-block-start: 0;
		}

		> p {
			margin-block-start: 24px;
			margin-block-end: var(--bt-paragraph-margin-bottom, 40px);
		}

		> h1 {
			margin-block-start: 24px;
			margin-block-end: 40px;
		}

		> h2 {
			margin-block-start: 24px;
			margin-block-end: 30px;
		}

		> h3 {
			margin-block-start: 24px;
			margin-block-end: 25px;
		}

		> h4 {
			margin-block-start: 24px;
			margin-block-end: 25px;
		}

		> h5 {
			margin-block-start: 24px;
			margin-block-end: 25px;
		}

		> h6 {
			margin-block-start: 24px;
			margin-block-end: 25px;
		}

		> .wp-block[data-type="wpforms/form-selector"] {
			div.wpforms-container-full {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}

	/*
	 * Buttons Disabled
	 */
	.button-disabled, 
	.button-secondary.disabled, 
	.button-secondary:disabled, 
	.button-secondary[disabled], 
	.button.disabled, 
	.button:disabled, 
	.button[disabled] {
		color: var( --bt-color-button, #FFF ) !important;
		background-color: var( --bt-color-button-bg, #212121 ) !important;
		opacity: 0.6 !important;
		border: none !important;
		box-shadow: none !important;
	}

	/*
	 * Spacing
	 */
	@import "utilities/spacing";

	/*
	 * Typography
	 */
	@import "base/typography/typography";

	.editor-visual-editor__post-title-wrapper {
		margin: 1rem 0 0 !important;

		.editor-post-title__input {
			@include font-size(32);
			margin-bottom: 1rem;
			margin-top: 0 !important;
			font-weight: 600;
		}
	}

	/*
	 * Blocks.
	 */
	.block-editor-block-list__layout {
		.block-editor-block-list__block {
			&:before {
				content: "";
				position: absolute;
				top: -3px;
				right: -3px;
				bottom: -3px;
				left: -3px;
				border: 1px solid var( --wp-admin-theme-color, #007cba );
				z-index: -1;
				opacity: 0;
				visibility: hidden;
				transition: ease opacity 250ms;
			}

			&:hover {
				&:before {
					opacity: 0.7;
					visibility: visible;
				}	
			}
		}
	}

	/*
	 * Elements
	 */
	@import "base/elements/links";
	@import "base/elements/buttons";

	button,
	.button {
		line-height: 1.68;
		min-height: 0;
	}

	.wp-block-freeform.block-library-rich-text__tinymce a {
		color: $color__primary;
		text-decoration: underline;

		&:hover,
		&:focus,
		&:active {
			color: $color__hover;
		}		
	}
	@import "base/elements/lists";
	@import "base/elements/tables";

	/*
	 * General blocks.
	 */
	@import "components/blocks/spacer";

	/*
	 * Woocommerce
	 */ 
	$woocommerce__color-error: #e2401c;
	$woocommerce__color-success: #0f834d;
	$woocommerce__color-info: #3d9cd2;

	@import "plugins/woocommerce/components";
	@import "plugins/woocommerce/products";
	@import "plugins/woocommerce/cart-block";
	@import "plugins/woocommerce/checkout-block";

	.wc-block-grid {
		.wc-block-grid__products {
			margin: 0;
		}
	}

	/**
	 * Image block.
	 */
	@import "components/blocks/image";

	/**
	 * Widget blocks
	 */
	@import "components/widgets/widget_blocks";

	/*
	 * Pagination
	 */
	@import "components/navigation/navigation";

	/*
	 * Forms
	 */
	@import "base/elements/fields";
	@import "components/misc/wpforms";
	@import "components/misc/wpcf7";

	/**
	 * Variations table.
	 */
	table.variations {
		border: none;

		tr, th, td {
			padding: 0;
			border: none;
		}
	}

	.wp-block-social-links {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
	}
}

/*
* Widget blocks
*/
.wp-block[data-type="core/widget-area"] {
	max-width: 340px;

	h3 {
		margin: 0 0 20px;
		@include font-size(18);		
	}
}

.wp-block[data-type="core/social-link"] {
	button {
		background: none !important;
		border: none;
		padding: 0;
		width: 1.5em;
		height: 1.5em;

		svg {
			height: 1.5em;
			width: 1.5em;
		}
	}
}

/*
* Custom Control Components
*/
.botiga-dimensions-control {
	> div {
		max-width: 100%;
		gap: 3px;
	}

	.components-number-control {
		margin-bottom: 8px;
	}
}

.botiga-inspector-tabs-content-wrapper {
	.components-base-control__label,
	.components-input-control__label {
		text-transform: none !important;
		font-weight: 400 !important;
		font-size: inherit !important;
	}
}