.botiga-tooltip {
	position: relative;

	&:before {
		content: attr(data-tooltip);
		position: absolute;
		bottom: calc( 100% + 11px );
		left: 50%;
		color: #FFF;
		font-size: 0.85rem;
		line-height: 1rem;
		padding: 6px 10px;
		background-color: #1E1E1E;
		white-space: nowrap;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(-50%, 6px, 0);
		transition: ease opacity 300ms, ease transform 300ms;
		z-index: 2;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: calc( 100% + 1px );
		left: 50%;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px;
		border-color: #1E1E1E transparent transparent transparent;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(-50%, 6px, 0);
		transition: ease opacity 300ms, ease transform 300ms;
		z-index: 2;
	}

	&:hover {
		&:before,
		&:after {
			opacity: 1;
			visibility: visible;
			transform: translate3d(-50%, 0, 0);
		}
	}

	&.botiga-tooltip-right {
		&:before {
			left: calc( 100% + 11px );
			bottom: 50%;
			transform: translate3d(6px, 50%, 0);
		}

		&:after {
			left: calc( 100% + 1px );
			bottom: 50%;
			border-color: transparent #1E1E1E transparent transparent;
			transform: translate3d(6px, 50%, 0);
		}

		&:hover {
			&:before,
			&:after {
				transform: translate3d(0, 50%, 0);
			}
		}
	}
}