.botiga-admin-modal {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);

	&.active {
		display: flex;
	}
}

.botiga-admin-modal-content {
	width: 100%;
	max-width: 600px;
	background-color: #FFF;
}

.botiga-admin-modal-body {
	padding: 20px;
}