.botiga-admin-modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	visibility: hidden;
	opacity: 0;
	transform: translate3d(0, 15px, 0);
	transition: ease opacity 300ms, ease transform 300ms;
	z-index: -99999;

	&.active {
		opacity: 1;
		visibility: visible;
		transform: translate3d(0, 0, 0);
		z-index: 1000;
	}
}

.botiga-admin-modal-content {
	width: 100%;
	max-width: 677px;
	background-color: #FFF;
}

.botiga-admin-modal-body {
	padding: 40px;
}