/* Dashboard Home */
.botiga-dashboard-hero-title .botiga-dashboard-hero-badge{
  float: left;
  margin-right: 10px;
}

.botiga-dashboard-box{
  background-position: left bottom;
}

.botiga-dashboard-box-title .botiga-dashboard-box-badge{
  right: 0;
  left: auto;  
}

/* Dashboard Features */
.botiga-dashboard-features-list ul{
  border-right: 0;
  border-left: 1px solid #e4e4e4;
}

.botiga-dashboard-features-list ul:last-child{
  border-left: none;
}

.botiga-dashboard-features-list ul li{
  padding-left: 0;
  padding-right: 30px;
}

.botiga-dashboard-features-list ul:first-child li{
  padding-right: 0;
}

.botiga-dashboard-box-badge{
  left: 10px;
  right: auto;
}

.botiga-dashboard-box-badge + .botiga-dashboard-box-title{
  margin-right: 0;
  margin-left: 40px;
}

.botiga-dashboard .button .dashicons{
  margin-right: 0;
  margin-left: 2px;
}

/* Dashboard Free vs Pro */
.botiga-dashboard-freevspro-table__spacing{
  margin-left: 0;
  margin-right: 10px;
}