/**
 * Header/Footer Builder
 * Front End
 */
.bhfb-desktop,
.bhfb-mobile {
  position: relative;
}

.bhfb-desktop {
  display: none;
  z-index: 999;
}

.bhfb-footer {
  display: block;
  z-index: 997;
}

@media (min-width: 1025px) {
  .bhfb-desktop {
    display: block;
  }
  .bhfb-mobile {
    display: none;
  }
}

.bhfb-above_header_row,
.bhfb-main_header_row,
.bhfb-below_header_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease background-color 300ms, ease border-bottom-color 300ms, ease height 300ms;
  transition: ease background-color 300ms, ease border-bottom-color 300ms, ease height 300ms;
}

.bhfb-row {
  display: grid;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-wrap: anywhere;
}

.bhfb-row.bhfb-cols-1 {
  grid-template-columns: auto;
}

.bhfb-row.bhfb-cols-2 {
  grid-template-columns: repeat(2, auto);
}

.bhfb-row.bhfb-cols-3 {
  grid-template-columns: 1fr auto 1fr;
}

.bhfb-row.bhfb-cols-valign-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bhfb-row.bhfb-cols-valign-middle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bhfb-row.bhfb-cols-valign-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bhfb-footer .bhfb-row-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bhfb-footer .bhfb-row.bhfb-cols-1, .bhfb-footer .bhfb-row.bhfb-cols-2, .bhfb-footer .bhfb-row.bhfb-cols-3, .bhfb-footer .bhfb-row.bhfb-cols-4, .bhfb-footer .bhfb-row.bhfb-cols-5, .bhfb-footer .bhfb-row.bhfb-cols-6 {
  grid-template-columns: 1fr;
  gap: 30px;
}

@media (min-width: 768px) {
  .bhfb-footer .bhfb-row.bhfb-cols-2, .bhfb-footer .bhfb-row.bhfb-cols-3, .bhfb-footer .bhfb-row.bhfb-cols-4, .bhfb-footer .bhfb-row.bhfb-cols-5, .bhfb-footer .bhfb-row.bhfb-cols-6 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .bhfb-footer .bhfb-row.bhfb-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .bhfb-footer .bhfb-row.bhfb-cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .bhfb-footer .bhfb-row.bhfb-cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .bhfb-footer .bhfb-row.bhfb-cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .bhfb-footer .bhfb-row.bhfb-cols-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .bhfb-footer .bhfb-row.bhfb-cols-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}

.bhfb-footer .bhfb-row.bhfb-cols-inner-layout-stack .bhfb-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bhfb-footer .bhfb-row.bhfb-cols-inner-layout-stack .bhfb-column .bhfb-builder-item + .bhfb-builder-item {
  margin-top: 30px;
}

.bhfb-footer .bhfb-row.bhfb-cols-inner-layout-inline .bhfb-column {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bhfb-footer .bhfb-component-footer_menu .menu {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bhfb-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.bhfb-column.bhfb-col_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bhfb-column.bhfb-col_right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.bhfb.bhfb-header .bhfb-column-2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.bhfb.bhfb-header .bhfb-column-3 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.bhfb.bhfb-header .social-profile a,
.bhfb-mobile_offcanvas .social-profile a {
  margin-right: 0;
}

.bhfb.bhfb-header .social-profile a + a,
.bhfb-mobile_offcanvas .social-profile a + a {
  margin-left: 20px;
}

.bhfb.bhfb-header .bhfb-builder-item,
.bhfb-mobile_offcanvas .bhfb-builder-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bhfb.bhfb-header .bhfb-builder-item + .bhfb-builder-item,
.bhfb-mobile_offcanvas .bhfb-builder-item + .bhfb-builder-item {
  margin-left: 20px;
}

.bhfb.bhfb-header .bhfb-builder-item.bhfb-component-search + .bhfb-component-woo_icons,
.bhfb.bhfb-header .bhfb-builder-item.bhfb-component-woo_icons + .bhfb-component-search,
.bhfb-mobile_offcanvas .bhfb-builder-item.bhfb-component-search + .bhfb-component-woo_icons,
.bhfb-mobile_offcanvas .bhfb-builder-item.bhfb-component-woo_icons + .bhfb-component-search {
  margin-left: 25px;
}

.bhfb.bhfb-header .bhfb-builder-item.bhfb-component-search .ws-svg-icon, .bhfb.bhfb-header .bhfb-builder-item.bhfb-component-woo_icons .ws-svg-icon,
.bhfb-mobile_offcanvas .bhfb-builder-item.bhfb-component-search .ws-svg-icon,
.bhfb-mobile_offcanvas .bhfb-builder-item.bhfb-component-woo_icons .ws-svg-icon {
  width: auto;
  height: auto;
}

.bhfb.bhfb-header .custom-logo-link img,
.bhfb-mobile_offcanvas .custom-logo-link img {
  max-width: 100%;
}

.bhfb.bhfb-header .botiga-image.is-svg > img,
.bhfb-mobile_offcanvas .botiga-image.is-svg > img {
  width: 25px;
  height: 25px;
}

.bhfb.bhfb-header .bhfb-component-search .header-search img,
.bhfb-mobile_offcanvas .bhfb-component-search .header-search img {
  max-width: 27px;
  max-height: 27px;
}

.bhfb.bhfb-header .bhfb-component-search svg,
.bhfb.bhfb-header .bhfb-component-woo_icons svg,
.bhfb.bhfb-header .bhfb-component-social svg,
.bhfb-mobile_offcanvas .bhfb-component-search svg,
.bhfb-mobile_offcanvas .bhfb-component-woo_icons svg,
.bhfb-mobile_offcanvas .bhfb-component-social svg {
  -webkit-transition: ease fill 300ms;
  transition: ease fill 300ms;
}

.bhfb.bhfb-header .bhfb-component-contact_info .header-contact.header-contact-inline,
.bhfb-mobile_offcanvas .bhfb-component-contact_info .header-contact.header-contact-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bhfb.bhfb-header .bhfb-component-contact_info .header-contact.header-contact-inline a,
.bhfb-mobile_offcanvas .bhfb-component-contact_info .header-contact.header-contact-inline a {
  margin-bottom: 0;
}

.bhfb.bhfb-header .bhfb-component-contact_info .header-contact.header-contact-inline a + a,
.bhfb-mobile_offcanvas .bhfb-component-contact_info .header-contact.header-contact-inline a + a {
  margin-left: 20px;
}

.bhfb.bhfb-header .bhfb-component-pll_switcher .botiga-pll-switcher,
.bhfb-mobile_offcanvas .bhfb-component-pll_switcher .botiga-pll-switcher {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bhfb.bhfb-header .bhfb-component-pll_switcher .botiga-pll-switcher li,
.bhfb-mobile_offcanvas .bhfb-component-pll_switcher .botiga-pll-switcher li {
  padding-bottom: 0;
}

.bhfb.bhfb-header .bhfb-component-pll_switcher .botiga-pll-switcher li a,
.bhfb-mobile_offcanvas .bhfb-component-pll_switcher .botiga-pll-switcher li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bhfb.bhfb-header .bhfb-component-pll_switcher .botiga-pll-switcher li + li,
.bhfb-mobile_offcanvas .bhfb-component-pll_switcher .botiga-pll-switcher li + li {
  margin-left: 20px;
}

.bhfb.bhfb-header .bhfb-component-login_register .header-login-register > a,
.bhfb-mobile_offcanvas .bhfb-component-login_register .header-login-register > a {
  padding: 0;
}

.bhfb-mobile_offcanvas .mobile-menu-close {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 23px;
  top: 26px;
  z-index: 10;
}

.bhfb-mobile_offcanvas .container {
  padding: 0;
  max-width: none;
}

.bhfb-mobile_offcanvas .mobile-header-item {
  margin-bottom: 0;
}

.bhfb-mobile_offcanvas .bhfb-mobile-offcanvas-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bhfb-mobile_offcanvas .bhfb-builder-item {
  width: 100%;
}

.bhfb-mobile_offcanvas .bhfb-builder-item + .bhfb-builder-item {
  margin-left: 0;
}

.bhfb-mobile_offcanvas .bhfb-builder-item + .bhfb-builder-item .header-item {
  margin-top: 0 !important;
}

.bhfb-mobile_offcanvas .bhfb-component-pll_switcher .botiga-pll-switcher {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bhfb-mobile_offcanvas .bhfb-component-pll_switcher .botiga-pll-switcher li + li {
  margin-left: 0px;
}

/* Sticky Header Row */
@media (min-width: 1025px) {
  .bhfb.bhfb-header.has-sticky-header.sticky-row-all {
    position: fixed;
    width: 100%;
    top: 0;
  }
  .bhfb.bhfb-header.has-sticky-header.sticky-row-all.sticky-scrolltop {
    position: absolute;
  }
  body.sticky-header-active {
    /* Scrolltop effect */
  }
  body.sticky-header-active .bhfb.bhfb-header.has-sticky-header.sticky-row-all.sticky-scrolltop {
    position: fixed;
  }
  body.sticky-header-active .bhfb.bhfb-header.has-sticky-header.sticky-row-main-header-row {
    position: fixed;
    width: 100%;
    top: 0;
  }
  body.sticky-header-active .bhfb.bhfb-header.has-sticky-header.sticky-row-below-header-row {
    position: fixed;
    width: 100%;
    top: 0;
  }
  body.sticky-header-active .bhfb.bhfb-header.has-sticky-header.sticky-scrolltop {
    -webkit-transition: ease transform 300ms 200ms;
    transition: ease transform 300ms 200ms;
  }
  body.sticky-header-active .bhfb.bhfb-header.bhfb-no-transition {
    -webkit-transition: none !important;
    transition: none !important;
  }
  body.sticky-header-active.botiga-scrolling-down .bhfb.bhfb-header.sticky-scrolltop {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  /* Admin Bar */
  .admin-bar .bhfb.bhfb-header.has-sticky-header.sticky-row-all {
    top: 32px;
  }
  .admin-bar.sticky-header-active .bhfb.bhfb-header.has-sticky-header.sticky-row-main-header-row {
    top: 32px;
  }
  .admin-bar.sticky-header-active .bhfb.bhfb-header.has-sticky-header.sticky-row-below-header-row {
    top: 32px;
  }
}
