/**
 * Multi Step Checkout
 */
.woocommerce-checkout .woocommerce-form-coupon-toggle,
.woocommerce-checkout .woocommerce-form-login,
.woocommerce-checkout #customer_details,
.woocommerce-checkout .checkout-wrapper {
  display: none;
}

.woocommerce-checkout .woocommerce-form-coupon-toggle.show,
.woocommerce-checkout .woocommerce-form-login.show,
.woocommerce-checkout #customer_details.show,
.woocommerce-checkout .checkout-wrapper.show {
  display: block !important;
}

.botiga-mstepc-wrapper .entry-content {
  max-width: 700px;
  margin: 0 auto;
}

.botiga-mstepc-wrapper #customer_details,
.botiga-mstepc-wrapper .checkout-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  margin-left: 0;
}

.botiga-mstepc-wrapper .botiga-mstepc-tabs-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.botiga-mstepc-wrapper .botiga-mstepc-tabs-nav:before {
  content: '';
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;
  border-top: 2px solid #212121;
}

.botiga-mstepc-wrapper .botiga-mstepc-tabs-nav .botiga-mstepc-tabs-nav-item {
  text-align: center;
}

.botiga-mstepc-wrapper .botiga-mstepc-tabs-nav .botiga-mstepc-tabs-nav-item .step {
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  margin: 0 auto 10px;
  background-color: #FFF;
  border: 2px solid #CCC;
  border-radius: 100%;
  -webkit-transition: ease border-color 300ms;
  transition: ease border-color 300ms;
}

.botiga-mstepc-wrapper .botiga-mstepc-tabs-nav .botiga-mstepc-tabs-nav-item .step .step-number,
.botiga-mstepc-wrapper .botiga-mstepc-tabs-nav .botiga-mstepc-tabs-nav-item .step .step-completed {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.botiga-mstepc-wrapper .botiga-mstepc-tabs-nav .botiga-mstepc-tabs-nav-item .step .step-completed {
  display: none;
}

.botiga-mstepc-wrapper .botiga-mstepc-tabs-nav .botiga-mstepc-tabs-nav-item .step svg {
  width: 17px;
  height: auto;
}

.botiga-mstepc-wrapper .botiga-mstepc-tabs-nav .botiga-mstepc-tabs-nav-item:hover .step {
  border-color: #212121;
}
