/**
 * Header/Footer Builder
 * Front End
 */
.bhfb-desktop,
.bhfb-mobile {
  position: relative;
}

.bhfb-desktop {
  display: none;
  z-index: 999;
}

.bhfb-footer {
  display: block;
  z-index: 997;
}

@media (min-width: 1025px) {
  .bhfb-desktop {
    display: block;
  }
  .bhfb-mobile {
    display: none;
  }
}

.bhfb-above_header_row,
.bhfb-main_header_row,
.bhfb-below_header_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: ease background-color 300ms, ease border-bottom-color 300ms, ease height 300ms;
  transition: ease background-color 300ms, ease border-bottom-color 300ms, ease height 300ms;
}

.bhfb-main_header_row {
  min-height: 100px;
}

.bhfb-below_footer_row {
  background-color: #F5F5F5;
  min-height: 100px;
}

.bhfb-row {
  display: grid;
  grid-auto-flow: column;
  gap: 0;
  overflow-wrap: anywhere;
  height: 100%;
}

.bhfb-row.bhfb-cols-1 {
  grid-template-columns: 1fr;
}

.bhfb-row.bhfb-cols-1 .bhfb-column-1 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.bhfb-row.bhfb-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.bhfb-row.bhfb-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.bhfb-row.bhfb-cols-3 .bhfb-column-2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bhfb-row.bhfb-cols-3 .bhfb-column-3 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.bhfb-row.bhfb-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.bhfb-row.bhfb-cols-5 {
  grid-template-columns: repeat(5, 1fr);
}

.bhfb-row.bhfb-cols-6 {
  grid-template-columns: repeat(6, 1fr);
}

.bhfb-row.bhfb-cols-valign-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bhfb-row.bhfb-cols-valign-middle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bhfb-row.bhfb-cols-valign-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bhfb-row.bhfb-cols-layout-bigleft.bhfb-cols-2 {
  grid-template-columns: 3fr 1fr;
}

.bhfb-row.bhfb-cols-layout-bigleft.bhfb-cols-3 {
  grid-template-columns: 3fr 1fr 1fr;
}

.bhfb-row.bhfb-cols-layout-bigleft.bhfb-cols-4 {
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.bhfb-row.bhfb-cols-layout-bigright.bhfb-cols-2 {
  grid-template-columns: 1fr 3fr;
}

.bhfb-row.bhfb-cols-layout-bigright.bhfb-cols-3 {
  grid-template-columns: 1fr 1fr 3fr;
}

.bhfb-row.bhfb-cols-layout-bigright.bhfb-cols-4 {
  grid-template-columns: 1fr 1fr 1fr 2fr;
}

@media (min-width: 1025px) {
  .bhfb-row.bhfb-cols-layout-equal-desktop.bhfb-cols-1 {
    grid-template-columns: 1fr;
  }
  .bhfb-row.bhfb-cols-layout-equal-desktop.bhfb-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .bhfb-row.bhfb-cols-layout-equal-desktop.bhfb-cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .bhfb-row.bhfb-cols-layout-equal-desktop.bhfb-cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .bhfb-row.bhfb-cols-layout-equal-desktop.bhfb-cols-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .bhfb-row.bhfb-cols-layout-equal-desktop.bhfb-cols-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .bhfb-row.bhfb-cols-layout-fluid-desktop.bhfb-cols-3 {
    grid-template-columns: repeat(3, auto);
  }
  .bhfb-row.bhfb-cols-layout-bigleft-desktop.bhfb-cols-2 {
    grid-template-columns: 3fr 1fr;
  }
  .bhfb-row.bhfb-cols-layout-bigleft-desktop.bhfb-cols-3 {
    grid-template-columns: 3fr 1fr 1fr;
  }
  .bhfb-row.bhfb-cols-layout-bigleft-desktop.bhfb-cols-4 {
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
  .bhfb-row.bhfb-cols-layout-bigright-desktop.bhfb-cols-2 {
    grid-template-columns: 1fr 3fr;
  }
  .bhfb-row.bhfb-cols-layout-bigright-desktop.bhfb-cols-3 {
    grid-template-columns: 1fr 1fr 3fr;
  }
  .bhfb-row.bhfb-cols-layout-bigright-desktop.bhfb-cols-4 {
    grid-template-columns: 1fr 1fr 1fr 2fr;
  }
}

@media (max-width: 1024px) {
  .bhfb-row.bhfb-cols-layout-equal-tablet.bhfb-cols-1 {
    grid-template-columns: 1fr;
  }
  .bhfb-row.bhfb-cols-layout-equal-tablet.bhfb-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .bhfb-row.bhfb-cols-layout-equal-tablet.bhfb-cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .bhfb-row.bhfb-cols-layout-equal-tablet.bhfb-cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .bhfb-row.bhfb-cols-layout-equal-tablet.bhfb-cols-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .bhfb-row.bhfb-cols-layout-equal-tablet.bhfb-cols-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .bhfb-row.bhfb-cols-layout-fluid-tablet.bhfb-cols-3 {
    grid-template-columns: repeat(3, auto);
  }
  .bhfb-row.bhfb-cols-layout-bigleft-tablet.bhfb-cols-2 {
    grid-template-columns: 3fr 1fr;
  }
  .bhfb-row.bhfb-cols-layout-bigleft-tablet.bhfb-cols-3 {
    grid-template-columns: 3fr 1fr 1fr;
  }
  .bhfb-row.bhfb-cols-layout-bigleft-tablet.bhfb-cols-4 {
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
  .bhfb-row.bhfb-cols-layout-bigright-tablet.bhfb-cols-2 {
    grid-template-columns: 1fr 3fr;
  }
  .bhfb-row.bhfb-cols-layout-bigright-tablet.bhfb-cols-3 {
    grid-template-columns: 1fr 1fr 3fr;
  }
  .bhfb-row.bhfb-cols-layout-bigright-tablet.bhfb-cols-4 {
    grid-template-columns: 1fr 1fr 1fr 2fr;
  }
}

.bhfb-footer .bhfb-row-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bhfb-footer .bhfb-row {
  gap: 30px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .bhfb-footer .bhfb-row.bhfb-cols-2, .bhfb-footer .bhfb-row.bhfb-cols-3, .bhfb-footer .bhfb-row.bhfb-cols-4, .bhfb-footer .bhfb-row.bhfb-cols-5, .bhfb-footer .bhfb-row.bhfb-cols-6 {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
  }
}

@media (max-width: 767px) {
  .bhfb-footer .bhfb-row.bhfb-cols-2, .bhfb-footer .bhfb-row.bhfb-cols-3, .bhfb-footer .bhfb-row.bhfb-cols-4, .bhfb-footer .bhfb-row.bhfb-cols-5, .bhfb-footer .bhfb-row.bhfb-cols-6 {
    gap: 30px;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
}

.bhfb-footer .bhfb-component-footer_menu .menu {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bhfb-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (min-width: 576px) {
  .bhfb-column {
    min-width: 110px;
  }
}

.bhfb.bhfb-header .social-profile a,
.bhfb-mobile_offcanvas .social-profile a {
  margin-right: 0;
}

.bhfb.bhfb-header .social-profile a + a,
.bhfb-mobile_offcanvas .social-profile a + a {
  margin-left: 20px;
}

.bhfb.bhfb-header .bhfb-builder-item,
.bhfb-mobile_offcanvas .bhfb-builder-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bhfb.bhfb-header .bhfb-builder-item.bhfb-component-search .ws-svg-icon, .bhfb.bhfb-header .bhfb-builder-item.bhfb-component-woo_icons .ws-svg-icon,
.bhfb-mobile_offcanvas .bhfb-builder-item.bhfb-component-search .ws-svg-icon,
.bhfb-mobile_offcanvas .bhfb-builder-item.bhfb-component-woo_icons .ws-svg-icon {
  width: auto;
  height: auto;
}

.bhfb.bhfb-header .custom-logo-link img,
.bhfb-mobile_offcanvas .custom-logo-link img {
  max-width: 100%;
}

.bhfb.bhfb-header .botiga-image.is-svg > img,
.bhfb-mobile_offcanvas .botiga-image.is-svg > img {
  width: 25px;
  height: 25px;
}

.bhfb.bhfb-header .bhfb-component-logo,
.bhfb-mobile_offcanvas .bhfb-component-logo {
  text-align: center;
}

.bhfb.bhfb-header .bhfb-component-menu,
.bhfb-mobile_offcanvas .bhfb-component-menu {
  line-height: 1;
}

.bhfb.bhfb-header .bhfb-component-search .header-search img,
.bhfb-mobile_offcanvas .bhfb-component-search .header-search img {
  max-width: 27px;
  max-height: 27px;
}

.bhfb.bhfb-header .bhfb-component-search svg,
.bhfb.bhfb-header .bhfb-component-woo_icons svg,
.bhfb.bhfb-header .bhfb-component-social svg,
.bhfb-mobile_offcanvas .bhfb-component-search svg,
.bhfb-mobile_offcanvas .bhfb-component-woo_icons svg,
.bhfb-mobile_offcanvas .bhfb-component-social svg {
  -webkit-transition: ease fill 300ms;
  transition: ease fill 300ms;
}

.bhfb.bhfb-header .bhfb-component-contact_info .header-contact.header-contact-inline,
.bhfb-mobile_offcanvas .bhfb-component-contact_info .header-contact.header-contact-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bhfb.bhfb-header .bhfb-component-contact_info .header-contact.header-contact-inline a,
.bhfb-mobile_offcanvas .bhfb-component-contact_info .header-contact.header-contact-inline a {
  margin-bottom: 0;
}

.bhfb.bhfb-header .bhfb-component-contact_info .header-contact.header-contact-inline a + a,
.bhfb-mobile_offcanvas .bhfb-component-contact_info .header-contact.header-contact-inline a + a {
  margin-left: 20px;
}

.bhfb.bhfb-header .bhfb-component-pll_switcher .botiga-pll-switcher,
.bhfb-mobile_offcanvas .bhfb-component-pll_switcher .botiga-pll-switcher {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bhfb.bhfb-header .bhfb-component-pll_switcher .botiga-pll-switcher li,
.bhfb-mobile_offcanvas .bhfb-component-pll_switcher .botiga-pll-switcher li {
  padding-bottom: 0;
}

.bhfb.bhfb-header .bhfb-component-pll_switcher .botiga-pll-switcher li a,
.bhfb-mobile_offcanvas .bhfb-component-pll_switcher .botiga-pll-switcher li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bhfb.bhfb-header .bhfb-component-pll_switcher .botiga-pll-switcher li + li,
.bhfb-mobile_offcanvas .bhfb-component-pll_switcher .botiga-pll-switcher li + li {
  margin-left: 20px;
}

.bhfb.bhfb-header .bhfb-component-login_register .header-login-register > a,
.bhfb-mobile_offcanvas .bhfb-component-login_register .header-login-register > a {
  padding: 0;
}

.bhfb-mobile_offcanvas .mobile-menu-close {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 23px;
  top: 26px;
  z-index: 10;
}

.bhfb-mobile_offcanvas .container {
  padding: 0;
  max-width: none;
}

.bhfb-mobile_offcanvas .mobile-header-item {
  margin-bottom: 0;
}

.bhfb-mobile_offcanvas .bhfb-mobile-offcanvas-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bhfb-mobile_offcanvas .bhfb-builder-item {
  width: 100%;
}

.bhfb-mobile_offcanvas .bhfb-builder-item + .bhfb-builder-item {
  margin-left: 0;
}

.bhfb-mobile_offcanvas .bhfb-builder-item + .bhfb-builder-item .header-item {
  margin-top: 0 !important;
}

.bhfb-mobile_offcanvas .bhfb-component-pll_switcher .botiga-pll-switcher {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bhfb-mobile_offcanvas .bhfb-component-pll_switcher .botiga-pll-switcher li + li {
  margin-left: 0px;
}

/* Components */
.bhfb-component-widget1,
.bhfb-component-widget2,
.bhfb-component-widget3,
.bhfb-component-widget4 {
  width: 100%;
}

/* Sticky Header Row */
@media (min-width: 1025px) {
  .bhfb.bhfb-header.has-sticky-header.sticky-row-all {
    position: fixed;
    width: 100%;
    top: 0;
    max-width: inherit;
  }
  .bhfb.bhfb-header.has-sticky-header.sticky-row-all.sticky-scrolltop {
    position: absolute;
  }
  body.botiga-site-layout-padded .bhfb.bhfb-header.has-sticky-header.sticky-row-all {
    top: var(--botiga_padded_spacing, 25px);
    left: 0;
  }
  body.botiga-site-layout-padded .bhfb.bhfb-header.has-sticky-header.sticky-row-all.sticky-scrolltop {
    top: 0;
  }
  body.botiga-site-layout-padded.admin-bar .bhfb.bhfb-header.has-sticky-header.sticky-row-all {
    top: calc( var(--botiga_padded_spacing, 25px) + 32px);
  }
  body.botiga-site-layout-padded.admin-bar .bhfb.bhfb-header.has-sticky-header.sticky-row-all.sticky-scrolltop {
    top: 0;
  }
  body.sticky-header-active {
    /* Scrolltop effect */
  }
  body.sticky-header-active .bhfb.bhfb-header.has-sticky-header.sticky-row-all.sticky-scrolltop {
    position: fixed;
  }
  body.sticky-header-active .bhfb.bhfb-header.has-sticky-header.sticky-row-main-header-row {
    position: fixed;
    width: 100%;
    top: 0;
  }
  body.sticky-header-active .bhfb.bhfb-header.has-sticky-header.sticky-row-below-header-row {
    position: fixed;
    width: 100%;
    top: 0;
  }
  body.sticky-header-active .bhfb.bhfb-header.has-sticky-header.sticky-scrolltop {
    -webkit-transition: ease transform 300ms 200ms;
    transition: ease transform 300ms 200ms;
  }
  body.sticky-header-active .bhfb.bhfb-header.bhfb-no-transition {
    -webkit-transition: none !important;
    transition: none !important;
  }
  body.sticky-header-active.botiga-scrolling-down .bhfb.bhfb-header.sticky-scrolltop {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  body.sticky-header-active.botiga-site-layout-boxed.single-post .content-wrapper {
    margin-top: 0;
    padding-top: 120px;
  }
  body.sticky-header-active.botiga-site-layout-boxed.page:not(.botiga-page-builder-mode) .content-wrapper, body.sticky-header-active.botiga-site-layout-boxed.single-product .content-wrapper {
    margin-top: 0;
    padding-top: 80px;
  }
  body.sticky-header-active.botiga-site-layout-boxed .bhfb.bhfb-header.has-sticky-header.sticky-row-all, body.sticky-header-active.botiga-site-layout-boxed .bhfb.bhfb-header.has-sticky-header.sticky-row-main-header-row, body.sticky-header-active.botiga-site-layout-boxed .bhfb.bhfb-header.has-sticky-header.sticky-row-below-header-row {
    max-width: inherit;
  }
  body.sticky-header-active.botiga-site-layout-boxed .bhfb.bhfb-header.has-sticky-header.sticky-row-main-header-row {
    left: 50%;
    max-width: inherit;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
  body.sticky-header-active.botiga-site-layout-boxed .bhfb.bhfb-header.bhfb-no-transition {
    -webkit-transition: none !important;
    transition: none !important;
  }
  body.sticky-header-active.botiga-site-layout-boxed.botiga-scrolling-down .bhfb.bhfb-header.has-sticky-header.sticky-row-main-header-row.sticky-scrolltop {
    -webkit-transform: translate3d(-50%, -100%, 0);
            transform: translate3d(-50%, -100%, 0);
  }
  body.sticky-header-active.botiga-site-layout-padded:not(.header-transparent) .site {
    margin-top: 0 !important;
  }
  body.sticky-header-active.botiga-site-layout-padded:not(.header-transparent).single-post .content-wrapper {
    margin-top: 0;
    padding-top: 120px;
  }
  body.sticky-header-active.botiga-site-layout-padded:not(.header-transparent).page:not(.botiga-page-builder-mode) .content-wrapper, body.sticky-header-active.botiga-site-layout-padded:not(.header-transparent).single-product .content-wrapper {
    margin-top: 0;
    padding-top: 80px;
  }
  body.sticky-header-active.botiga-site-layout-padded .bhfb.bhfb-header.has-sticky-header {
    max-width: calc( 100% - var(--botiga_padded_spacing, 25px) * 2);
    left: var(--botiga_padded_spacing, 25px) !important;
  }
  body.sticky-header-active.botiga-site-layout-padded .bhfb.bhfb-header.has-sticky-header.sticky-row-all {
    left: auto !important;
  }
  body.sticky-header-active.botiga-site-layout-padded .bhfb.bhfb-header.has-sticky-header.sticky-row-all.sticky-scrolltop {
    top: var(--botiga_padded_spacing, 25px);
  }
  body.sticky-header-active.botiga-site-layout-padded.admin-bar .bhfb.bhfb-header.has-sticky-header.sticky-row-all {
    left: auto;
  }
  body.sticky-header-active.botiga-site-layout-padded.admin-bar .bhfb.bhfb-header.has-sticky-header.sticky-row-all.sticky-scrolltop {
    top: calc( var(--botiga_padded_spacing, 25px) + 32);
  }
  /* Admin Bar */
  .admin-bar .bhfb.bhfb-header.has-sticky-header.sticky-row-all {
    top: 32px;
  }
  .admin-bar.sticky-header-active .bhfb.bhfb-header.has-sticky-header.sticky-row-main-header-row {
    top: 32px;
  }
  .admin-bar.sticky-header-active .bhfb.bhfb-header.has-sticky-header.sticky-row-below-header-row {
    top: 32px;
  }
}
