a {
	color: $color__primary;
	text-decoration: none;
	transition: color 0.3s;

	&:visited {
		color: $color__primary;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__hover;
	}

	&:focus {
		outline: thin dotted;
		outline-offset: 5px;
	}

	&:hover,
	&:active {
		outline: 0;
	}

	.entry-content & {
		text-decoration: underline;
	}

	.product-name &,
	&.wp-block-button__link,
	&.remove,
	&.button {
		text-decoration: none;
	}	
}
