ul,
ol {
	margin: 0 0 25px 0;
	padding-left: 30px;

	li {
		padding-bottom: 5px;
	}
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin: 0;
	padding-left: 20px;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

.list-unstyled {
	list-style: none;
	padding-left: 0;
}