body {
	direction: rtl;
	unicode-bidi: embed;
}

.text-align-right {
	text-align: left;
}

.site-main {
	padding-left: 60px;
	padding-right: 15px;
	width: calc( 100% - 300px);
}

select {
	background-position: 20px center;
}
