.botiga-offcanvas-menu {
	left: auto;
	right: 0;
	transform: translate3d(100%, 0, 0);
}

.botiga-offcanvas-menu .botiga-dropdown .botiga-dropdown-ul .botiga-dropdown-li {
	text-align: right;
}

.mobile-header-item .align-right {
	text-align: left;
}