/**
 * Theme Dashboard
 *
 */

// Helpers
@import "dashboard/helpers";

// Animations
@import "dashboard/animations";

// Grid
@import "dashboard/grid";

// General
@import "dashboard/general";

// Notice
@import "dashboard/notice";

// Notifications Sidebar
@import "dashboard/notifications-sidebar";

// Hero
@import "dashboard/hero";

// Tabs Content
@import "dashboard/tab-home";
@import "dashboard/tab-starter-sites";
@import "dashboard/tab-builder";
@import "dashboard/tab-settings";
@import "dashboard/tab-free-vs-pro";