/* Helpers */

// Spacements
.bt-m-0 {
	margin: 0 !important;
}

.bt-mt-0 {
	margin-top: 0 !important;
}

.bt-mt-10px {
	margin-top: 10px !important;
}

.bt-mt-20px {
	margin-top: 20px !important;
}

.bt-mb-0 {
	margin-bottom: 0 !important;
}

.bt-mb-10px {
	margin-bottom: 10px !important;
}

.bt-mb-20px {
	margin-bottom: 20px !important;
}

// Positions
.bt-p-relative {
	position: relative;
}

// Display
.bt-d-flex {
	display: flex;
}

.bt-justify-content-between {
	justify-content: space-between;
}

.bt-align-items-center {
	align-items: center;
}


// Font Weight
.bt-font-weight-500 {
	font-weight: 500;
}

// Colors
.bt-border-color-primary {
	border-color: #3858E9 !important;
}

.bt-text-color-grey {
	color: #757575 !important;
}

/* Animations */
@keyframes botiga-spin {
	100% {
		transform: rotate(360deg);
	}
}

/* General */
.botiga-dashboard {
	padding: 20px 20px 20px 0px;
	box-sizing: border-box;

	* {
		box-sizing: border-box;

		*:before,
		*:after {
			box-sizing: border-box;
		}
	}

	figure {
		margin: 0;

		img {
			vertical-align: top;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.button {
		padding: 12px 24px;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 0;
		display: inline-flex;
		text-align: center;
		align-items: center;
		justify-content: center;

		&:focus {
			box-shadow: none;
		}

		.dashicons {
			margin-right: 2px;
		}
	}

	.button-medium {
		padding: 8px 16px;
	}

	.button-primary {
		color: #fff;
		border-color: #3858e9;
		background-color: #3858e9;

		&:hover,
		&:focus,
		&:active {
			color: #fff;
			border-color: #3052e8;
			background-color: #3052e8;
		}
	}

	.button-secondary {
		color: #3858e9;
		border-color: #3858e9;
		background-color: #fff;

		&:hover,
		&:focus,
		&:active {
			color: #3052e8;
			border-color: #3052e8;
			background-color: #f0f4ff;
		}
	}

	.button-warning {
		color: #fff;
		border-color: #d63638;
		background-color: #d63638;

		&:hover,
		&:focus,
		&:active {
			color: #fff;
			border-color: #d42b2e;
			background-color: #d42b2e;
		}
	}

	.button-simple {
		color: #3858e9;
		text-decoration: none;
		display: flex;
		grid-gap: 4px;
		align-items: center;

		&:focus {
			box-shadow: none;
		}

		span {
			font-weight: 500;
			text-decoration: underline;
		}

		i {
			font-size: 14px;
		}
	}

	.button-text {
		color: #3858e9;
		text-decoration: none;
		display: inline-block;
		vertical-align: top;

		i {
			font-size: 18px;
			line-height: 24px;
		}

		&:focus {
			box-shadow: none;
		}
	}

	.button-info {
		color: #bbb;
		text-decoration: none;
		display: inline-block;
		vertical-align: top;

		i {
			font-size: 18px;
			line-height: 24px;
		}

		&:hover {
			color: #777;
		}

		&:focus {
			box-shadow: none;
		}
	}

	.button-disabled {
		user-select: none;
		pointer-events: none;
	}

	.button-pro-support {
		color: #fff;
		border-color: #3fb28f;
		background-color: #3fb28f;

		&:hover,
		&:focus,
		&:active {
			color: #fff;
			border-color: #3caa89;
			background-color: #3caa89;
		}
	}

	.button-outline {
		color: #3858E9;
		border-color: #3858E9;
		background: transparent;
	}

	.dashicons {
		width: auto;
		height: auto;
		font-size: inherit;
	}

	.dashicons-update-alt {
		animation: botiga-spin 4s linear infinite;
		margin-right: 4px;
	}
}

.botiga-ajax-progress {
	user-select: none;
	pointer-events: none;
}

.botiga-dashboard-badge {
	color: #99A5B8;
	padding: 5px 6px;
	border: 1px solid #DFDFDF;
	border-radius: 2px;
}

.botiga-dashboard-external-link {
	display: inline-flex;
	gap: 8px;
	font-size: 13px;
	line-height: 13px;
	font-weight: 500;
	color: #3858E9;
	transition: ease opacity 300ms;

	svg {
		position: relative;
		top: 1px;
	}

	&:hover,
	&:focus,
	&:active {
		color: #3858E9;
		opacity: 0.7;
	}
}

.botiga-dashboard-pro-tooltip {
	position: relative;

	&:before {
		content: attr(data-tooltip-message);
		position: absolute;
		bottom: calc( 100% + 11px );
		left: 50%;
		color: #FFF;
		font-size: 11px;
		line-height: 16px;
		padding: 3px 6px;
		background-color: #1E1E1E;
		white-space: nowrap;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(-50%, 6px, 0);
		transition: ease opacity 300ms, ease transform 300ms;
		z-index: 2;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: calc( 100% + 3px );
		left: 50%;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 4px 4px 4px 4px;
		border-color: #1E1E1E transparent transparent transparent;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(-50%, 6px, 0);
		transition: ease opacity 300ms, ease transform 300ms;
		z-index: 2;
	}

	&:hover {
		&:before,
		&:after {
			opacity: 1;
			visibility: visible;
			transform: translate3d(-50%, 0, 0);
		}
	}
}

/* Grid */
.botiga-dashboard-row {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.botiga-dashboard-column {
	flex-basis: 100%;
}

@media(min-width: 1025px) {
	.botiga-dashboard-column {
		&.botiga-dashboard-column-2 {
			flex-basis: calc( 16.6666% - 10px );
		}

		&.botiga-dashboard-column-3 {
			flex-basis: calc( 25% - 10px );
		}

		&.botiga-dashboard-column-4 {
			flex-basis: calc( 33.333333% - 14px );
		}

		&.botiga-dashboard-column-9 {
			flex-basis: calc( 75% - 10px );
		}

		&.botiga-dashboard-column-10 {
			flex-basis: calc( 83.333% - 10px );
		}
	}
}

@media(min-width: 1600px) {
	.botiga-dashboard-column {
		&.botiga-dashboard-column-4 {
			flex-basis: calc( 25% - 15px );
		}
	}
}

/* Botiga Dashboard Top Bar */
.botiga-dashboard-top-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #FFF;
	margin: -20px -20px 20px -20px;
	padding: 18px 20px;

	.botiga-dashboard-top-bar-infos {
		display: flex;
		align-items: center;

		.botiga-dashboard-top-bar-info-item {
			padding: 0 10px;
			& + .botiga-dashboard-top-bar-info-item {
				border-left: 1px solid #F0F0F0;
			}
		}
	}

	.botiga-dashboard-theme-version {
		font-size: 13px;
		line-height: 13px;
		color: #97A3B6;

		.botiga-dashboard-badge {
			display: inline-flex;
			margin-left: 5px;
			font-size: 8px;
			line-height: 10px;
		}
	}

	.botiga-dashboard-theme-website {
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: 13px;
		line-height: 16px;
		color: #3858E9;
		text-decoration: none;
	}
}

/* Botiga Dashboard Notice */
.botiga-dashboard-notice {
	display: none;
	position: relative;
	margin-bottom: 20px;

	&.show {
		display: block;
	}

	.dashicons-dismiss {
		cursor: pointer;
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 38px;
		height: 38px;
		font-size: 16px;
		line-height: 1em;
		color: #787c82;

		&:hover {
			color: #d63638;
		}
	}
}

/* Botiga Dashboard Hero */
.botiga-dashboard-hero {
	position: relative;
	display: flex;
	justify-content: space-between;
	background-color: #FFF;
	border-radius: 4px;
	margin-bottom: 20px;

	.botiga-dashboard-hero-content {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 30px 24px;
	}

	.botiga-dashboard-hero-hello {
		font-size: 1rem;
		font-weight: 600;
		color: #1e1e1e;
	}

	.botiga-dashboard-hero-title {
		font-size: 2rem;
		font-weight: 600;
		line-height: 1.2;
		color: #1e1e1e;
		margin-top: 16px;
	}

	.botiga-dashboard-hero-badge {
		font-size: 12px;
		line-height: 1em;
		font-weight: 500;
		padding: 4px 8px;
		border-radius: 50px;
		letter-spacing: 0.5px;
		text-transform: uppercase;
	}

	.botiga-dashboard-hero-badge-free {
		color: #3fb28f;
		background-color: #def3ed;
	}
	
	.botiga-dashboard-hero-badge-pro {
		color: #fff;
		background-color: #3858e9;
	}
	
	.botiga-dashboard-hero-desc {
		color: #1e1e1e;
		margin-top: 12px;
	}

	.botiga-dashboard-hero-customize-button {
		margin-top: 24px;


	}

	.botiga-dashboard-hero-actions {
		display: flex;
		grid-gap: 10px;
		margin-top: 25px;
	
		.button {
			display: flex;
			grid-gap: 4px;
			align-items: center;
			justify-content: center;
			padding: 12px 18px;
			line-height: 1em;
		}
	}

	.botiga-dashboard-hero-button {
		text-decoration: none;
		padding: 12px 18px;
		border-radius: 2px;
	}
	
	.botiga-dashboard-hero-warning {
		color: #d63638;
		margin-top: 10px;
	}
	
	.botiga-dashboard-hero-notion {
		color: #697b96;
		margin-top: 10px;
	}
	
	.botiga-dashboard-hero-image {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		margin: 15px 38px 0 38px;
	
		img {
			max-width: 365px;
		}
	}
}

/* Botiga Dashboard Tabs Nav Items */
.botiga-dashboard-tabs-nav {
    padding: 0 20px;
	margin-bottom: -100%;
    transform: translate3d(0, 100%, 0);

	ul {
		display: flex;
		padding: 0;
	}

	.botiga-dashboard-tabs-nav-item {
		.botiga-dashboard-tabs-nav-link {
			font-size: 14px;
			line-height: 20px;
			padding: 16px;
			color: #6D7175;
			text-decoration: none;
		}

		&.active {
			.botiga-dashboard-tabs-nav-link {
				color: #3858E9;
				font-weight: 500;
				border-bottom: 3px solid #3858E9;
			}	
		}

		&:hover,
		&:focus,
		&:active {
			.botiga-dashboard-tabs-nav-link {
				color: #3858E9;
			}
		}
	}

	&.botiga-dashboard-tabs-nav-with-icons {
		.botiga-dashboard-tabs-nav-item {
			.botiga-dashboard-tabs-nav-link {
				position: relative;
				display: flex;
				align-items: center;
				font-size: 18px;
				font-weight: 600;
				line-height: 26px;
				padding: 6px 16px;
				border-bottom: 0;
				color: #1e1e1e;
				transition: ease color 200ms;

				svg {
					margin-right: 8px;
					path {
						transition: ease fill 200ms;
					}
				}

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					border-left: 4px solid #3858E9;
					height: 100%;
					width: 0;
					opacity: 0;
					visibility: hidden;
					transition: ease opacity 200ms;
				}
			}

			&.active,
			&:hover,
			&:focus,
			&:active {
				.botiga-dashboard-tabs-nav-link {
					color: #3858E9;

					svg {
						path {
							fill: #3858E9;
						}
					}

					&:before {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}

	&.botiga-dashboard-tabs-nav-vertical {
		padding: 0;
		margin-left: -20px;

		ul {
			flex-direction: column;
			margin: 0;
		}
	}

	&.botiga-dashboard-tabs-nav-no-negative-margin {
		margin-bottom: 0;
		transform: none;
	}
}

/* Botiga Tabs Content */
.botiga-dashboard-tab-content {
	display: none;

	&.active {
		display: block;
	}
}

/* Botiga Dashboard Card */
.botiga-dashboard-card {
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: #FFF;
	padding: 20px;
	border: 1px solid #F0F0F1;
	border-radius: 4px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);

	.botiga-dashboard-card-header {
		h2 {
			font-size: 20px;
			line-height: 30px;
			margin: 0;
		}
	}

	.botiga-dashboard-card-body {
		p {
			margin: 0;

			& + p {
				margin-top: 15px;
			}

			& + a {
				margin-top: 20px;
			}
		}
	}

	& + .botiga-dashboard-card {
		margin-top: 20px;
	}

	&.botiga-dashboard-card-top-spacing {
		padding: 106px 20px 20px 20px;
	}

	&.botiga-dashboard-card-no-box-shadow {
		box-shadow: none;
	}
}

/* Botiga Dashboard Feature Card */
.botiga-dashboard-feature-card {
	display: flex;
    flex-direction: column;
	position: relative;
	padding: 20px;
	border: 2px solid #F0F0F1;
	border-radius: 4px;
	height: 100%;

	.botiga-dashboard-feature-card-image {
		max-width: 40px;
		height: auto;

		img {
			max-width: 100%;
			height: auto;
		}

		&.botiga-dashboard-feature-card-image-rounded {
			border-radius: 100%;
			overflow: hidden;
		}

		& + div {
			margin-top: 10px;
		}
	}

	.botiga-dashboard-feature-card-title {
		padding-right: 30px;
		margin-bottom: 4px;

		h3 {
			font-size: 16px;
			line-height: 26px;
			margin: 0;
		}

		& + .botiga-dashboard-feature-card-actions {
			margin-top: auto;
		}
	}

	.botiga-dashboard-feature-card-actions {
		display: flex;
		gap: 15px;
	}

	.botiga-dashboard-feature-card-link {
		font-size: 13px;
		line-height: 20px;
		color: #757575;
		text-decoration: none;
		transition: ease color 300ms, ease opacity 300ms;
	
		&.botiga-dashboard-feature-card-link-success {
			color: #3FB28F !important;
			text-decoration: underline;
		}
		&.botiga-dashboard-feature-card-link-danger {
			color: #FA1212 !important;
			text-decoration: underline;
		}
		&.botiga-dashboard-feature-card-link-info {
			color: #3858E9 !important;
			text-decoration: underline;
		}

		&:hover,
		&:focus,
		&:active {
			color: #3858E9;
			opacity: 0.7;
		}
	}

	.botiga-dashboard-feature-card-link-icon {
		position: absolute;
		top: 20px;
		right: 20px;
		opacity: 0;
		visibility: hidden;
		transition: ease opacity 300ms;

		&.botiga-dashboard-feature-card-link-icon-always-visible {
			opacity: 1 !important;
			visibility: visible !important;
		}
	}

	&:hover {
		.botiga-dashboard-feature-card-link-icon {
			opacity: 1;
			visibility: visible;
		}

		.botiga-dashboard-feature-card-link {
			color: #3858E9;
			text-decoration: underline;
		}
	}
}

/* Botiga Dashboard Module Card */
.botiga-dashboard-module-card {
	.botiga-dashboard-module-card-header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		h2 {
			font-size: 20px;
			line-height: 20px;
			margin: 0;
		}
	}
}

/* Botiga License Field */
.botiga-dashboard-license-form {
	margin-top: 10px;

	form {
		display: flex;
		flex-wrap: wrap;
		grid-gap: 10px;

		input {
			width: 400px;
			max-width: 100%;
			padding-left: 26px;
			min-height: 36px;

			&::placeholder {
				opacity: 0.75;
			}
		}

		button {
			position: relative;
			display: flex;
			grid-gap: 2px;
			align-items: center;
			line-height: 1em;
			min-height: 36px;
		}
	}
}

.botiga-license-key-input {
	position: relative;
	display: flex;

	i {
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 10px;
		transform: translateY(-50%);
		margin-top: -1px;
		opacity: 0.5;
	}
}

.botiga-dashboard-license-success {
	margin-top: 10px;
	display: flex;
	grid-gap: 5px;

	span{
		color: #0b890b;
	}
}

.botiga-dashboard-license-error {
	margin-top: 10px;
	color: #d63638;
}

/* Botiga Dashboard Content Expand */
.botiga-dashboard-content-expand {
	.botiga-dashboard-content-expand-title {
		.botiga-dashboard-content-expand-link {
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: #3858E9;
			background-color: #E8ECFF;
			padding: 7px;
			text-decoration: none;

			&:after {
				content: '';
				background-image: url(../../img/dashboard/chevron.svg);
				background-size: 15px;
				background-repeat: no-repeat;
				background-position: center;
				width: 15px;
				height: 15px;
				display: inline-block;
				margin-left: auto;
			}

			svg {
				margin-right: 6px;
			}
		}
	}

	.botiga-dashboard-content-expand-content {
		border: 1px solid #E8ECFF;
		padding: 10px 8px;
	}

	.botiga-dashboard-content-expand-list {
		display: flex;
		flex-direction: column;
		gap: 5px;
		margin: 0;

		li {
			color: #6D7175;
			margin: 0;

			svg {
				margin-top: 5px;
				margin-right: 7px;
				min-width: 8px;
			}

			a {
				padding-left: 5px;
			}
		}
	}
}

/* Free Vs Pro Table */
.botiga-dashboard-freevspro-table__header {
	position: sticky;
	top: 50px;
	z-index: 1;
	border-radius: 4px;
	border: 1px solid #C2CFF8;
	background-color: #F9FAFE;

	.botiga-dashboard-freevspro-table__column {
		border-bottom: 0;
	}

	strong {
		font-size: 20px;
		font-weight: 500;
		line-height: 23px;
		letter-spacing: 0em;
		color: #1e1e1e;
		margin: 0;
	}
}

.botiga-dashboard-freevspro-table__body {

	.botiga-dashboard-freevspro-table__column strong {
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0em;
	}

	.botiga-dashboard-freevspro-table__column a {
		color: #1e1e1e;
		display: inline-flex;
		align-items: center;
		text-decoration: none;
		transition: none;

		&:hover {
			color: #3858e9;
		}

		&:focus,
		&:active {
			box-shadow: none;
		}
	}

	.dashicons-external {
		width: auto;
		height: auto;
		font-size: 16px;
		margin-left: 3px;
		transition: none;
	}
}

.botiga-dashboard-freevspro-table__row {
	display: flex;
}

.botiga-dashboard-freevspro-table__column {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	max-width: 275px;
	padding: 24px 23px;
	text-align: center;
	border-bottom: 1px solid #E3E8F7;

	strong {
		font-weight: 500;
		text-align: left;
		color: #1e1e1e;
	}

	.botiga-dashboard-freevspro-table__icon {
		text-align: center;
		width: 30px;
		height: 30px;
		border-radius: 30px;
		font-size: 20px;
		line-height: 30px;
	}

	.botiga-dashboard-freevspro-table__icon_break {
		text-align: center;
		width: 20px;
		height: 20px;
		font-size: 20px;
		line-height: 20px;
		opacity: 0.3;
		transform: scaleX(-1);
	}

	.dashicons-saved {
		text-indent: -2px;
		color: #3FB28F;
		background-color: rgba(63, 178, 143, 0.1);
	}

	.dashicons-no-alt {
		color: #E62424;
		background-color: rgba(230, 36, 36, 0.05);
	}

	&.botiga-dashboard-freevspro-table__column--feature {
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0em;
		max-width: none;
		text-align: left;
		flex-wrap: wrap;
		grid-gap: 6px;
	}
}

.botiga-dashboard-freevspro-table__spacing {
	margin-left: 10px;
}

.botiga-dashboard-freevspro-table__desc {
	font-size: 12px;
	font-style: italic;
	width: 100%;
	opacity: 0.5;
}

.botiga-dashboard-freevspro-table__row+.botiga-dashboard-freevspro-table__row .botiga-dashboard-freevspro-table__column,
.botiga-dashboard-freevspro-table__body .botiga-dashboard-freevspro-table__row:first-child .botiga-dashboard-freevspro-table__column {
	border-top-width: 0;
}

.botiga-dashboard-freevspro-table__body .botiga-dashboard-freevspro-table__row:last-child .botiga-dashboard-freevspro-table__column {
	border-bottom: 0;
}

@media screen and (max-width: 991px) {
	.botiga-dashboard-freevspro-table__header {
		position: relative;
		top: auto;

		strong {
			font-size: 16px;
		}
	}

	.botiga-dashboard-freevspro-table-responsive {
		max-width: 100%;
		overflow-x: auto;
	}

	.botiga-dashboard-freevspro-table__column--feature:first-child {
		text-align: left;
		justify-content: flex-start;
	}

	.botiga-dashboard-freevspro-table__column {
		padding: 15px 10px;
		text-align: center;
		justify-content: center;
		max-width: 100px;

		&:not(:first-child) {

			strong {
				margin-left: 0;
				text-align: center;
			}
		}
	}
}