/* Helpers */
.bt-p-relative {
	position: relative;
}

.bt-d-flex {
	display: flex;
}

.bt-justify-content-between {
	justify-content: space-between;
}

.bt-align-items-center {
	align-items: center;
}

.bt-font-weight-500 {
	font-weight: 500;
}

.bt-border-color-primary {
	border-color: #3858E9 !important;
}

/* Animations */
@keyframes botiga-spin {
	100% {
		transform: rotate(360deg);
	}
}

/* General */
.botiga-dashboard {
	padding: 20px 20px 20px 0px;
	box-sizing: border-box;

	* {
		box-sizing: border-box;

		*:before,
		*:after {
			box-sizing: border-box;
		}
	}

	figure {
		margin: 0;

		img {
			vertical-align: top;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.button {
		padding: 12px 24px;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 0;
		display: inline-flex;
		text-align: center;
		align-items: center;
		justify-content: center;

		&:focus {
			box-shadow: none;
		}

		.dashicons {
			margin-right: 2px;
		}
	}

	.button-medium {
		padding: 8px 16px;
	}

	.button-primary {
		color: #fff;
		border-color: #3858e9;
		background-color: #3858e9;

		&:hover,
		&:focus,
		&:active {
			color: #fff;
			border-color: #3052e8;
			background-color: #3052e8;
		}
	}

	.button-secondary {
		color: #3858e9;
		border-color: #3858e9;
		background-color: #fff;

		&:hover,
		&:focus,
		&:active {
			color: #3052e8;
			border-color: #3052e8;
			background-color: #f0f4ff;
		}
	}

	.button-warning {
		color: #fff;
		border-color: #d63638;
		background-color: #d63638;

		&:hover,
		&:focus,
		&:active {
			color: #fff;
			border-color: #d42b2e;
			background-color: #d42b2e;
		}
	}

	.button-simple {
		color: #3858e9;
		text-decoration: none;
		display: flex;
		grid-gap: 4px;
		align-items: center;

		&:focus {
			box-shadow: none;
		}

		span {
			font-weight: 500;
			text-decoration: underline;
		}

		i {
			font-size: 14px;
		}
	}

	.button-text {
		color: #3858e9;
		text-decoration: none;
		display: inline-block;
		vertical-align: top;

		i {
			font-size: 18px;
			line-height: 24px;
		}

		&:focus {
			box-shadow: none;
		}
	}

	.button-info {
		color: #bbb;
		text-decoration: none;
		display: inline-block;
		vertical-align: top;

		i {
			font-size: 18px;
			line-height: 24px;
		}

		&:hover {
			color: #777;
		}

		&:focus {
			box-shadow: none;
		}
	}

	.button-disabled {
		user-select: none;
		pointer-events: none;
	}

	.button-pro-support {
		color: #fff;
		border-color: #3fb28f;
		background-color: #3fb28f;

		&:hover,
		&:focus,
		&:active {
			color: #fff;
			border-color: #3caa89;
			background-color: #3caa89;
		}
	}

	.button-outline {
		color: #3858E9;
		border-color: #3858E9;
		background: transparent;
	}

	.dashicons {
		width: auto;
		height: auto;
		font-size: inherit;
	}

	.dashicons-update-alt {
		animation: botiga-spin 4s linear infinite;
		margin-right: 4px;
	}
}

.botiga-ajax-progress {
	user-select: none;
	pointer-events: none;
}

.botiga-dashboard-badge {
	color: #99A5B8;
	padding: 5px 6px;
	border: 1px solid #DFDFDF;
	border-radius: 2px;
}

.botiga-dashboard-external-link {
	display: inline-flex;
	gap: 8px;
	font-size: 13px;
	line-height: 13px;
	font-weight: 500;
	color: #3858E9;
	transition: ease opacity 300ms;

	svg {
		position: relative;
		top: 1px;
	}

	&:hover,
	&:focus,
	&:active {
		color: #3858E9;
		opacity: 0.7;
	}
}

.botiga-dashboard-pro-tooltip {
	position: relative;

	&:before {
		content: attr(data-tooltip-message);
		position: absolute;
		bottom: calc( 100% + 11px );
		left: 50%;
		color: #FFF;
		font-size: 11px;
		line-height: 16px;
		padding: 3px 6px;
		background-color: #1E1E1E;
		white-space: nowrap;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(-50%, 6px, 0);
		transition: ease opacity 300ms, ease transform 300ms;
		z-index: 2;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: calc( 100% + 3px );
		left: 50%;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 4px 4px 4px 4px;
		border-color: #1E1E1E transparent transparent transparent;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(-50%, 6px, 0);
		transition: ease opacity 300ms, ease transform 300ms;
		z-index: 2;
	}

	&:hover {
		&:before,
		&:after {
			opacity: 1;
			visibility: visible;
			transform: translate3d(-50%, 0, 0);
		}
	}
}

.botiga-dashboard-sticky-wrapper {
	position: sticky;
	top: 20px;
}

/* Grid */
.botiga-dashboard-row {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.botiga-dashboard-column {
	flex-basis: 100%;
}

@media(min-width: 1025px) {
	.botiga-dashboard-column {
		&.botiga-dashboard-column-3 {
			flex-basis: calc( 25% - 10px );
		}

		&.botiga-dashboard-column-4 {
			flex-basis: calc( 33.333333% - 14px );
		}

		&.botiga-dashboard-column-9 {
			flex-basis: calc( 75% - 10px );
		}
	}
}

@media(min-width: 1600px) {
	.botiga-dashboard-column {
		&.botiga-dashboard-column-4 {
			flex-basis: calc( 25% - 15px );
		}
	}
}

/* Botiga Dashboard Top Bar */
.botiga-dashboard-top-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #FFF;
	margin: -20px -20px 20px -20px;
	padding: 18px 20px;

	.botiga-dashboard-top-bar-infos {
		display: flex;
		align-items: center;

		.botiga-dashboard-top-bar-info-item {
			padding: 0 10px;
			& + .botiga-dashboard-top-bar-info-item {
				border-left: 1px solid #F0F0F0;
			}
		}
	}

	.botiga-dashboard-theme-version {
		font-size: 13px;
		line-height: 13px;
		color: #97A3B6;

		.botiga-dashboard-badge {
			display: inline-flex;
			margin-left: 5px;
			font-size: 8px;
			line-height: 10px;
		}
	}

	.botiga-dashboard-theme-website {
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: 13px;
		line-height: 16px;
		color: #3858E9;
		text-decoration: none;
	}
}

/* Botiga Dashboard Notice */
.botiga-dashboard-notice {
	display: none;
	position: relative;
	margin-bottom: 20px;

	&.show {
		display: block;
	}

	.dashicons-dismiss {
		cursor: pointer;
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 38px;
		height: 38px;
		font-size: 16px;
		line-height: 1em;
		color: #787c82;

		&:hover {
			color: #d63638;
		}
	}
}

/* Botiga Dashboard Hero */
.botiga-dashboard-hero {
	position: relative;
	display: flex;
	justify-content: space-between;
	background-color: #FFF;
	border-radius: 4px;
	margin-bottom: 20px;

	.botiga-dashboard-hero-content {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 30px 24px;
	}

	.botiga-dashboard-hero-hello {
		font-size: 1rem;
		font-weight: 600;
		color: #1e1e1e;
	}

	.botiga-dashboard-hero-title {
		font-size: 2rem;
		font-weight: 600;
		line-height: 1.2;
		color: #1e1e1e;
		margin-top: 16px;
	}

	.botiga-dashboard-hero-badge {
		font-size: 12px;
		line-height: 1em;
		font-weight: 500;
		padding: 4px 8px;
		border-radius: 50px;
		letter-spacing: 0.5px;
		text-transform: uppercase;
	}

	.botiga-dashboard-hero-badge-free {
		color: #3fb28f;
		background-color: #def3ed;
	}
	
	.botiga-dashboard-hero-badge-pro {
		color: #fff;
		background-color: #3858e9;
	}
	
	.botiga-dashboard-hero-desc {
		color: #1e1e1e;
		margin-top: 12px;
	}

	.botiga-dashboard-hero-customize-button {
		margin-top: 24px;


	}

	.botiga-dashboard-hero-actions {
		display: flex;
		grid-gap: 10px;
		margin-top: 25px;
	
		.button {
			display: flex;
			grid-gap: 4px;
			align-items: center;
			justify-content: center;
			padding: 12px 18px;
			line-height: 1em;
		}
	}

	.botiga-dashboard-hero-button {
		text-decoration: none;
		padding: 12px 18px;
		border-radius: 2px;
	}
	
	.botiga-dashboard-hero-warning {
		color: #d63638;
		margin-top: 10px;
	}
	
	.botiga-dashboard-hero-notion {
		color: #697b96;
		margin-top: 10px;
	}
	
	.botiga-dashboard-hero-image {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		margin: 15px 38px 0 38px;
	
		img {
			max-width: 365px;
		}
	}
}

/* Botiga Dashboard Tabs Nav Items */
.botiga-dashboard-tabs-nav {
    padding: 0 20px;
	margin-bottom: -100%;
    transform: translate3d(0, 100%, 0);

	ul {
		display: flex;
		padding: 0;
	}

	.botiga-dashboard-tabs-nav-item {
		.botiga-dashboard-tabs-nav-link {
			font-size: 14px;
			line-height: 20px;
			padding: 16px;
			color: #6D7175;
			text-decoration: none;
		}

		&.active {
			.botiga-dashboard-tabs-nav-link {
				color: #3858E9;
				font-weight: 500;
				border-bottom: 3px solid #3858E9;
			}	
		}

		&:hover,
		&:focus,
		&:active {
			.botiga-dashboard-tabs-nav-link {
				color: #3858E9;
			}
		}
	}
}

/* Botiga Tabs Content */
.botiga-dashboard-tab-content {
	display: none;

	&.active {
		display: block;
	}
}

/* Botiga Dashboard Card */
.botiga-dashboard-card {
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: #FFF;
	padding: 20px;
	border: 1px solid #F0F0F1;
	border-radius: 4px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);

	&.botiga-dashboard-card-top-spacing {
		padding: 106px 20px 20px 20px;
	}

	.botiga-dashboard-card-header {
		h2 {
			font-size: 20px;
			line-height: 30px;
			margin: 0;
		}
	}

	.botiga-dashboard-card-body {
		p {
			margin: 0;

			& + p {
				margin-top: 15px;
			}

			& + a {
				margin-top: 20px;
			}
		}
	}

	& + .botiga-dashboard-card {
		margin-top: 20px;
	}
}

/* Botiga Dashboard Feature Card */
.botiga-dashboard-feature-card {
	display: flex;
    flex-direction: column;
	position: relative;
	padding: 20px;
	border: 2px solid #F0F0F1;
	border-radius: 4px;
	height: 100%;

	.botiga-dashboard-feature-card-image {
		max-width: 40px;
		height: auto;

		img {
			max-width: 100%;
			height: auto;
		}

		&.botiga-dashboard-feature-card-image-rounded {
			border-radius: 100%;
			overflow: hidden;
		}

		& + div {
			margin-top: 10px;
		}
	}

	.botiga-dashboard-feature-card-title {
		padding-right: 30px;
		margin-bottom: 4px;

		h3 {
			font-size: 16px;
			line-height: 26px;
			margin: 0;
		}

		& + .botiga-dashboard-feature-card-actions {
			margin-top: auto;
		}
	}

	.botiga-dashboard-feature-card-actions {
		display: flex;
		gap: 15px;
	}

	.botiga-dashboard-feature-card-link {
		font-size: 13px;
		line-height: 20px;
		color: #757575;
		text-decoration: none;
		transition: ease color 300ms, ease opacity 300ms;
	
		&.botiga-dashboard-feature-card-link-success {
			color: #3FB28F !important;
			text-decoration: underline;
		}
		&.botiga-dashboard-feature-card-link-danger {
			color: #FA1212 !important;
			text-decoration: underline;
		}
		&.botiga-dashboard-feature-card-link-info {
			color: #3858E9 !important;
			text-decoration: underline;
		}

		&:hover,
		&:focus,
		&:active {
			color: #3858E9;
			opacity: 0.7;
		}
	}

	.botiga-dashboard-feature-card-link-icon {
		position: absolute;
		top: 20px;
		right: 20px;
		opacity: 0;
		visibility: hidden;
		transition: ease opacity 300ms;

		&.botiga-dashboard-feature-card-link-icon-always-visible {
			opacity: 1 !important;
			visibility: visible !important;
		}
	}

	&:hover {
		.botiga-dashboard-feature-card-link-icon {
			opacity: 1;
			visibility: visible;
		}

		.botiga-dashboard-feature-card-link {
			color: #3858E9;
			text-decoration: underline;
		}
	}
}